@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid p-0">
    @*About*@
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Pedro
                <span class="text-primary">Gaspar</span>
            </h1>
            <br />
            <p> <b>Data de nascimento:</b> 21-11-1988</p>
            <p> <b>Nacionalidade:</b> Portuguesa</p>
            <p> <b>Género:</b> Masculino</p>
            <p> <b>Localidade:</b> Guarda</p>
        </div>
    </section>
</div>