<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CV</title>

    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top"> <div> @RenderBody()</div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Pedro Gaspar</span>
            <!--<span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="" /></span>-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Informação Pessoal</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiência Profissional</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Formação Académica</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Outras Informações</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Distinção e Prémios</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Pedro
                    <span class="text-primary">Gaspar</span>
                </h1>
                <br />
                <p> <b>Data de nascimento:</b> 21-11-1988</p>
                <p> <b>Nacionalidade:</b> Portuguesa</p>
                <p> <b>Género:</b> Masculino</p>
                <p> <b>Localidade:</b> Guarda</p>

            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experiência Profissional</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Corporate Functional Safety Test Tecnician</h3>
                        <div class="subheading mb-3">Coficab Group</div>
                        <ul>
                            <li>
                                Suporte na organização e controlo em conjunto com a equipa de qualidade a conformidade do
                                produto de acordo com as especificações através do seguimento de planos de controlo/processo;
                            </li>
                            <li>
                                Apoiar na análise dos registos de qualidade associados ao plano de controlo;
                            </li>
                            <li>
                                Apoiar nos ajustes ao plano de controlo/processo;
                            </li>
                            <li>
                                Dinamização da ferramenta de qualidade FPS (First Problem Solver);
                            </li>
                            <li>
                                Utilização e manuseamento de equipamentos de um laboratório de qualidade.
                            </li>
                        </ul>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">04/2018 - 01/2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Químico</h3>
                        <div class="subheading mb-3">Universidade da Beira Interior</div>
                        <ul>
                            <li>
                                Produção de celulose nanofibrilada a partir de celulose de madeira;
                            </li>
                            <li>
                                Conversão do gel de celulose em filamento através de um processo de extrusão com posterior troca
                                de solvente;
                            </li>
                            <li>
                                Caracterização das propriedades dos filamentos.
                            </li>
                        </ul>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">06/2017 - 07/2017</span></div>
                </div>

            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Formação Académica</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Instituto Politécnico da Guarda</h3>
                        <div class="subheading mb-3">Mestrado</div>
                        <div>Sistemas Integrados de Gestão</div>
                        <p>Nível 7 QRQ</p>
                        <a href="competencias/sig.html"> <b>Competências</b> </a>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">01-2017 - Presente</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Universidade da Beira Interior</h3>
                        <div class="subheading mb-3">Licenciatura</div>
                        <div>Bioquímica</div>
                        <p>Nível 6 QRQ</p>
                        <a href="competencias/bioquimica.html"> <b>Competências</b> </a>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">09/2006 - 06/2016</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>

                <p>
                    Auditor de Sistemas Integrados de Gestão: Qualidade, Ambiente e Segurança. <br />
                    Implementação ou verificação das normas relacionadas com Sistemas Integrados de Gestão (nomeadamente ISO 9001; NP4469-1,
                    SA8000, ISO 26000; ISO 14000 e OHSAS 18000).<br />
                    Técnicas laboratoriais na área da biologia, química, bioquímica, microbiologia, toxicologia e ambiente. <br />
                    Realização do curso de formação contínua em "Pesquisa Bibliográfica e Análise de Informação"
                    organizado pela Universidade da Beira Interior. <br />
                    Realização do curso de formação contínua em "Trabalho em Equipa", organizado pela
                    Universidade da Beira Interior.<br />
                </p>

            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Outras informações</h2>
                <p class="mb-0">
                    Membro do conselho pedagógico da Escola Superior de Tecnologia e Gestão de Setembro 2017 a Novembro de 2019.
                </p>
                <p class="mb-0"> Participação no programa Jovens Embaixadores de Córdoba organizado pelo Ayuntamiento De Córdoba de Dezembro de 2015 a Julho de 2016.</p>
                <p class="mb-0">Praticante de xadrez.</p>
                <p class="mb-0">...</p>
                <p class="mb-0">...</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Distinção e prémios</h2>
                <p>
                    Participação na 16º edição do concurso Poliempreende (Concurso de Vocação Empresarial). Destaque para:<br />
                    1º lugar a nível regional <br />
                    3º lugar a nível nacional <br />
                    Com o projeto HEF (Hydroponic Evolotion Farm)
                </p>

                <a href="https://tvi24.iol.pt/videos/tecnologia/estudantes%E2%80%90da%E2%80%90guarda%E2%80%90plantam%E2%80%90legume%E2%80%90sem%E2%80%90uso%E2%80%90de%E2%80%90terra/5e00e81c0cf255b1bc1a66d9" target="_blank">
                    <img src="assets/img/hef.png" alt="Hydroponic Evolution Farm" title="Hydroponic Evolution Farm"
                         style="width:316px;height:215px" />
                </a>
                <p>Alunos do IPG desenvolvem projeto para cultivo de cherovia em hidroponia.</p>
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
