<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CV</title>

    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div> @RenderBody()</div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Pedro Gaspar</span>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <partial name="_LoginPartial" />
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  asp-area="" asp-controller="Home" asp-action="SobreMim">Informação Pessoal</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  asp-area="" asp-controller="experiencia_profissional" asp-action="Index">Experiência Profissional</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-area="" asp-controller="formacao" asp-action="Index">Formação Académica</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  asp-area="" asp-controller="skills" asp-action="Index">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  asp-area="" asp-controller="outras_informacoes" asp-action="Index">Outras Informações</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  asp-area="" asp-controller="distincao_premios" asp-action="Index">Distinção e Prémios</a></li>
            </ul>
        </div>
    </nav>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
