@model site_pessoal_dinamico.Models.experiencia_profissional

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Experiência Profissional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="experiencia_profissionalId" />
            <div class="form-group">
                <label asp-for="funcao" class="control-label"></label>
                <input asp-for="funcao" class="form-control" />
                <span asp-validation-for="funcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empresa" class="control-label"></label>
                <input asp-for="empresa" class="form-control" />
                <span asp-validation-for="empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao_exp" class="control-label"></label>
                <input asp-for="descricao_exp" class="form-control" />
                <span asp-validation-for="descricao_exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
