@model site_pessoal_dinamico.Models.outras_informacoes

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h4 class="text-danger">Tem a certeza que pretende apagar?</h4>
<div>
    <h4>Outras Informações</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao_informacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao_informacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="outras_informacoesId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
